#particle-image {
  z-index:999;
  position: absolute;
  background: linear-gradient(to bottom right, #00a7ed, yellow);
  top: -45px;
  bottom: 0px;
  left: 0px;
  right: 0px;
  height: 100%;
  width: 100%;
}
