#particle-image {
  z-index:999;
  position: absolute;
  transform:rotateX(12deg) rotateY(5deg) rotateZ(4deg) scale(.25);
  top: -45px;
  bottom: 0px;
  left: 0px;
  right: 0px;
  height: 100%;
  width: 100%;
}
